<h1 class="container row main-color">Search Results</h1><br><br>
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a href="#users" data-toggle="tab">Users</a></li>
    <li><a href="#jobs" data-toggle="tab">Jobs</a></li>
    <li><a href="#skills" data-toggle="tab">Skills</a></li>
  </ul><br><br>

<div class="container tab-content">
    <div class="tab-pane fade in active" id="users">
      <% if @searches[:users].present? %>
        <% @searches[:users].each do |user| %>
          <%= div_for(user, class: "row #{cycle("odd", "even")}") do %>
            <h3><strong><%= link_to user.name, user_path(user) %></strong></h3>
          <% end %>
        <% end %>  
      <% else %>
          <h3 class="main-color"> No Matching Users </h3>
      <% end %>
    </div>

    <div class="tab-pane fade" id="jobs">
      <% if @searches[:jobs].present? %>
        <% @searches[:jobs].each do |job| %>
          <%= div_for(job, class: "row #{cycle("odd", "even")}") do %>
            <h3><strong><%= link_to job.title, job_path(job) %></strong></h3>
          <% end %>
        <% end %> 
      <% else %>
          <h3 class="main-color"> No Matching Jobs </h3>
      <% end %>
    </div>

    <div class="tab-pane fade" id="skills">
      <% if @searches[:skills].present? %>
        <% @searches[:skills].each do |skill| %>
          <%= div_for(skill, class: "row #{cycle("odd", "even")}") do %>
            <h3><strong><%= skill.name %></strong></h3>
          <% end %>
        <% end %> 
      <% else %>
          <h3 class="main-color"> No Matching Skills </h3>
      <% end %>
    </div>
</div>



