<h1>Job Listings</h1>
  <% flash.each do |name, msg| %>
    <%= content_tag :h3, msg, class: name %>
  <% end %>
<% Job.all.reverse.each do |j| %>
  <h3><strong><%= link_to j.title, j %></strong></h3>
  <h4><%= link_to j.contractor.name, j.contractor %></h4>
  <p>Description: <%= j.description %></p>
  <p>Skills:</p>
  <% j.skills.each do |s| %>
    <%= s.name %>
  <% end %>
  <%= form_for([j, j.requests.build]) do |f| %>
  <%= f.submit "Make offer", class: "btn btn-primary" %>
  <% end %>
  <br>
<% end %>
