<h1>Create Job</h1>

<%= form_for @job do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :description %><br>
  <%= f.text_area :description %><br>
  
  <%= f.label :skills %><br>
  <%= f.select :skill_ids, Skill.all.collect {|s| [s.name.downcase, s.id]}.sort, {}, { :multiple => true } %>

  <%= f.submit "Create Job" %>

<% end %>