<h4><%= link_to "<< Back to Job Listings" ,"/jobs" %></h4><br><br>
<h1><strong><%= link_to @job.title, @job %></strong></h1>
<h3><%= link_to @job.contractor.name, @job.contractor %></h3>
<p>Description: <%= @job.description %></p>
<% @job.skills.each do |skill| %>
  <p class= "label label-success" ><%= skill.name %></p>
<% end %><br><br>

<% unless @job.contractor == current_user %>
  <%= form_for([@job, @job.requests.build]) do |f| %>
    <%= f.submit "Make offer", class: "btn btn-primary" %>
  <% end %>
<% end %>