<% if @user.jobs.present? %>
  <div class="jobs">
    <h1 class="row main-color">Jobs</h1>
    <% @user.jobs.each do |job| %>
      <%= div_for(job, class: "  row #{cycle("odd", "even")}") do %>
        <h3><strong><%= link_to job.title, job %></strong></h3>
        <p><%= job.description %></p><br>
        <% job.skills.each do |skill| %>
          <%= link_to skill.name, skill_path(skill), class: "label label-success" %>
        <% end %><br>
        <% unless confirmed_logged_in? %>
          <%= form_for([job, job.requests.build]) do |f| %>
            <%= f.submit "Make offer", class: "btn btn-primary" %>
          <% end %>
        <% end %>
        <br>
      <% end %>
    <% end %>
  </div>

    
<% end %>