<div class="container profile">

  <div class="row">
    <div class="col-sm-9">
      <div class="profile-name">
        <%= @user.name %>
      </div>

      <div class="profile-info row">
        <div class="profile-email col-sm-4">
          <h4>Email: </h4>
          <p><%= @user.email %></p> 
        </div>
        <div class="profile-since col-sm-4">
          <h4>Member since:</h4>
          <p><%= @user.created_at.to_formatted_s(:long_ordinal) %></p>
        </div>
        <div class="profile-twitter col-sm-4">
          <h4>Twitter:</h4>
          <p><%= "@twitter_handle" %></p>
        </div>
      </div>

      <div class="profile-bio">
        <h4>Bio:</h4>
        <p><%= @user.bio %></p>
      </div>
    </div>



    <div class="col-sm-3">
      <div class="profile-picture">
        <% if @user.image.url.nil? %>
          <%= image_tag('default.png', class: "img-thumbnail") %>
        <% else %>
          <%= image_tag(@user.image_url(:thumb), class: "img-thumbnail") %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    
  </div>

</div>

