<div class="container">

<h1 class="main-color skill"><%= @skill.name.capitalize %></h1>
<br><br>

  <% @skill.jobs.each do |job| %>

    <% unless job.contractor == current_user %>
      <%= div_for(job, class: "odd" ) do %>
        <h3><strong><%= link_to job.title, job %></strong></h3>
        <h4 class="main-color">Description: </h4> <p><%= job.description %></p>
          <%= form_for([job, job.requests.build]) do |f| %>
          <%= f.submit "Make offer", class: "btn btn-primary" %><br><br>
          <% end %>
        <% end %>
    <% end %>
    <br>
  <% end %>

<br>

<p class="lead"><%= pluralize(@skill.users.count, "user") %> have this skill.</p>

</div>
