<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% flash.each do |name, msg| %>
    <%= content_tag :h3, msg, class: name %>
<% end %>

<% if !logged_in? %>
<%= link_to "Login With Twitter", "/auth/twitter" %>
<% end %>

<% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index +=1 %></td>
      <td><%= user.name %></td>
      <td>
        <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                    "data-sid" => current_user.id, "data-rip" => user.id %>
      </td>
    </tr>
<% end %>