<nav div="nav" class="nav navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".top-menu">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
        <%= link_to image_tag('logo-icon.png'), root_path, class: "navbar-brand" %>
    </div>
    <div class = "collapse navbar-collapse top-menu">

      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><p class="navbar-text">Signed in as 
            <%= link_to current_user.name, current_user %></a>
          </p></li>

          <li><p class="navbar-text">
            <%= link_to "Inbox", mailbox_inbox_path %></a>
          </p></li>

          <li class="dropdown">
            <a href data-toggle="dropdown">
              <span class="label label-info">
                <%= current_user.unread_offers.count %>
              </span>
            </a>
            <% if current_user.unread_offers.count > 0 %>
              <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu">
                <% current_user.unread_offers.group_by {|x| x.job_id}.each do |job_id, offers| %>
                  <li role="presentation" class="dropdown-header"><%= offers.first.job.title %></li>
                  <% offers.each do |offer| %>
                    <li>
                      <a href="/users/<%= offer.client.id %>">
                        <strong><%= offer.client.name %></strong>
                        <%= form_tag "/requests/#{offer.id}", method: "patch" do %>
                          <%= hidden_field_tag :accepted, true %>
                          <%= submit_tag :Accept, class: "btn btn-xs btn-primary" %>
                        <% end %>
                        <%= form_tag "/requests/#{offer.id}", method: "patch" do %>
                          <%= hidden_field_tag :accepted, false %>
                          <%= submit_tag :Decline, class: "btn btn-xs btn-danger" %>
                        <% end %>
                      </a>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          </li>

          <li><p class="navbar-text navbar-right btn btn-default login">
            <%= link_to "Create Job", new_job_path %></a>
          </p></li>
          <li><p class="navbar-text navbar-right btn btn-default login">
            <%= link_to "Log Out", logout_path %></a>
          </p></li>
        <% else %>
          <li><p class="navbar-text navbar-right btn btn-default login">
            <%= link_to "Login With Twitter", "/auth/twitter" %>
          </p></li>
        <% end %>
        <li>
          <%= form_tag :search, class: 'navbar-form', role: 'search' do  %>
            <div class="input-group">
              <%= search_field_tag 'keyword',"", class: "form-control", placeholder: 'Search' %>
              <div class="input-group-btn">
                <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                  <%= content_tag(:i,"", class: "glyphicon glyphicon-search") %>
                <% end %>
              </div>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>



